/* default styles for the page */
body{
  color: white;
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif, 'Times New Roman', Times, serif;
  background-image: url("http://images6.fanpop.com/image/photos/33400000/Whitebeard-Vs-Akainu-one-piece-33447033-1593-1000.jpg");
}


.watch-container{
  margin: auto;
  width: 50%;
  height: 20rem;
  border: 1px solid #c200ff52;
  background-color: transparent;
	text-align:center;
  padding: 10px;
  border-radius: 25px;
}


/* stopwatch timer */ 
#stopwatch {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.5rem;
  margin: 2rem;
}

#stopwatch span {
  display: inline-block;
  width: 2.5rem;
}

/* control buttons */
#start-btn,
#stop-btn,
#reset-btn {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: #29c5844d;
  color: white;
  cursor: pointer;
}

/* hover styles for control buttons */
#start-btn:hover,
#stop-btn:hover,
#reset-btn:hover {
  border: 1px solid #ffffff;
    background-color: rgba(255,159,0,.08);
    color: #ffffff;
}


/* Disable the start and stop buttons */
#start-btn:disabled,
#stop-btn:disabled {
  background-color: #ff0000;
  cursor: not-allowed;
}

/* media query for small screens */
@media only screen and (max-width: 740px) {
  .watch-container {
    width: 90%;
    max-width: none;
  }
  
  #stopwatch {
    font-size: 3rem;
  }
  
  #start-btn,
  #stop-btn,
  #reset-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
  }
}